<div>
    <p>In adopt a dog handlebars</p>
    <img src="\img\adopt-dog.jpg" alt="testing img">
</div>

{{#each breed}}
    the breed is :  {{this}}
{{/each}}



  
{{!-- 

========== content from object from   apiResultsObj.wolframinfo

{ breedDescription: 'Very small member of the toy breed family\nHead is very round\nMuzzle is proportionally very small\nEars are large
and held up, hanging to the sides when the dog is relaxed\nCoat can be either short or long, and wavy or flat when long\nEyes are large
and round',
  breedTemperment: 'affectionate  |  aggressive  |  alert  |  courageous  |  gentle  |  intelligent  |  loyal',
  breedCharacteristics: 'Breed originating in Mexico, probably descended from the Techichi, companion dogs in the Toltec civilization\nR
emains found from the time of the Aztecs in the modern-day Chihuahua region of Mexico\nRegarded as sacred by members of the Aztec nobili
ty\nRediscovered centuries after the fall of the Aztec empire in 1850 and introduced to the United States\nOne of several theories sugge
sts this breed originated in Europe, based on a dog in a 1480 fresco by Sandro Botticelli',
  breedHistory: 'Breed originating in Mexico, probably descended from the Techichi, companion dogs in the Toltec civilization\nRemains f
ound from the time of the Aztecs in the modern-day Chihuahua region of Mexico\nRegarded as sacred by members of the Aztec nobility\nRedi
scovered centuries after the fall of the Aztec empire in 1850 and introduced to the United States\nOne of several theories suggests this
 breed originated in Europe, based on a dog in a 1480 fresco by Sandro Botticelli' }

 --}}


{{!-- 
    couple of ideas to generate dog results.  

    1. in '/' route add if else checking if an apiobject is empty or has property

    2. create new page that routes to results specifically.  

    Note: unclear which one is more efficient.  

 --}}