    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="container">
            <img src="https://www.freeindex.co.uk/media/listingpics/592/513/dog-walking-dog-training-pawfect.jpg">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Logo</h3>
                        <nav class="nav nav-masthead">
                            <a class="nav-link active" href="#">Home</a>
                            <a class="nav-link" href="#">Search</a>
                            <a class="nav-link" href="#">Sign in</a>
                            <!-- <a class="nav-link" href="#">Contact</a> -->
                        </nav>
                    </div>
                </div>
                <div class="inner cover">
                    <h1 class="cover-heading">Finding Fido</h1>
                    <p class="lead">One stop source for finding rescue dogs in your area that are available for adoption.<br>
                    Find out what dogs are best suited to your personality and lifestyle by taking our short quizz.<br>
                    Save your search results by creating an account.</p>
                    <p class="lead">
                        <a href=" " class="btn btn-lg btn-secondary">Get Started</a>
                    </p>
                </div>
            
            
{{!-- <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>             --}}
            <div class="row">
                <form action="">
                    <div class="formgroup">
                        <h2>What size dog do you want?</h2>
                        <div class="radio">
                        <label><input type="radio" value="small" name="optradio"> Small</label>
                        </div>
                        <div class="radio">
                        <label><input type="radio" value="medium" name="optradio"> Medium</label>
                        </div>
                        <div class="radio">
                        <label><input type="radio" value="large" name="optradio" > Large</label>
                        </div>
                    </div>
                
                    <div class="formgroup">
                        <h2>Will your dog be in an apartment or condo or home with a yard?</h2>
                        <div class="radio"> 
                        <label><input type="radio" value="home" name="optradio"> Home</label>
                        </div>
                        <div class="radio">
                        <label><input type="radio" value="apartment" name="optradio"> Apartment or Condo</label>
                        </div>
                    </div>
                </div>
            </form>
            <div class="mastfoot">
               <div class="inner">
                   <!-- <p class="footer">Pet Rescue 2017</p>  -->
               </div>
            </div>
        </div>
    </div>
</div>
         