    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="container">
            <img src="https://www.freeindex.co.uk/media/listingpics/592/513/dog-walking-dog-training-pawfect.jpg">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Logo</h3>
                        <nav class="nav nav-masthead">
                            <a class="nav-link active" href="#">Home</a>
                            <a class="nav-link" href="#">Search</a>
                            <a class="nav-link" href="#">Sign in</a>
                            <!-- <a class="nav-link" href="#">Contact</a> -->
                        </nav>
                    </div>
                </div>
                <div class="inner cover">
                    <h1 class="cover-heading">Finding Fido</h1>
                    <p class="lead">One stop source for finding rescue dogs in your area that are available for adoption.<br>
                    Find out what dogs are best suited to your personality and lifestyle by taking our short quizz.<br>
                    Save your search results by creating an account.</p>
                    <p class="lead">
                        <a href=" " class="btn btn-lg btn-secondary">Get Started</a>
                    </p>
                </div>
            <div class="mastfoot">
               <div class="inner">
                   <!-- <p class="footer">Pet Rescue 2017</p>  -->
               </div>
            </div>
        </div>
    </div>
</div>
         