/* .container { 
    width: 2000px;
}

.row{ 
  padding-top: 100px;
}

body { 
    background-color: #333333;
}

h1 { 
    color: #FFC107;
} */

.breedInfo{ 
    padding-right: 20px;
    padding-left: 20px;
}
  
.dogData {
    padding-right: 15px;
    padding-left: 15px;
  }
